name: Java Test Execution

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Run spotless check
      run: mvn spotless:check

    - name: Run Maven Tests
      # This command returns a non-zero exit code if any test fails, 
      # which automatically marks the GitHub Action as "failed".
      run: mvn -B test
